form{
    padding-top: 10px;
    display: block;
}
.justify-itens{
    display: flex;
    justify-content: left;
}
table,td,th{
    border: 1px solid black;
    border-collapse: collapse;
}
td{
    padding-left: 10px;
}
.input-full{
    width: 150px;
    background-color: rgb(230, 214, 198);
    padding-left: 10px;
    font-weight: bold;
    width: auto;
    border: 2px solid black;
    color: #333; /* Cor do texto preta escura mesmo para o campo desabilitado */
    font-weight: bold; 
    font-size: 14;
}
table{
    background-color: rgb(230, 214, 198);
    width:50%;
}
table label{
    padding-left: 10px;
}
.tabela-escala{
    width:60%;
    margin-left: 50px;
}
.tabela-escala{
    width: auto;
}
.identify{
    background-color: rgb(230, 214, 198);
    width: 25%;
    height: 25px;
    border: 2px solid black; /* Borda preta com 2px de largura */
    padding: 5px 10px; /* Espaçamento interno para o texto */
    outline: none; /* Remove o contorno padrão do navegador */
    color: #333; /* Cor do texto preta escura mesmo para o campo desabilitado */
    font-weight: bold; 
    font-size: 14;
}
.sep-ind{
    padding-top: 10px;
}
.label-ar{
    padding-left: 20px;
}
button{
    background-color: rgb(153, 3, 3);
    width: 200px;
    height: 50px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    font-size: 15px;
    display: block;
    margin-top: 10px;
}
.button-ar{
    padding-left: 220px;
    padding-top: 20px;
}
/*Hover and Focus*/
button:hover{
    background-color: rgb(104, 1, 1);
}
table label:hover{
    background-color: rgb(224, 209, 192);
}
input:hover{
    background-color: rgb(224, 209, 192);
}
input:focus{
    background-color: rgb(224, 209, 192);
}