footer {
    position: relative; /* Mude para relative para ficar no final do conteúdo */
    text-align: center;
    padding: 10px; /* Padding ajustado para 10px ao invés de 0 */
    background-color: rgb(233, 224, 214); /* Fundo suave para o footer */
    font-size: 16px; /* Tamanho da fonte */
    width: 100%; /* Faz o footer ocupar toda a largura */
}
html, body {
    overflow: visible; /* Remove a rolagem em ambas as direções */
}
textarea{
    background-color: rgb(230, 214, 198);
    width:  10%;
    height: 50px;
    padding-left: 10px;
    font-size: 16px;
}
textarea:hover{
    background-color: rgb(224, 209, 192);
    
}
textarea:focus{
    background-color: rgb(224, 209, 192);
    
} 
