.flex {
    display: flex;
    width: 100vw;
    height: 100%;
    justify-content: center;
    align-items: center; 
    
}

.box-model {
    padding: 40px;
    background-color: rgb(230, 214, 198);
    border: 1px solid;
    border-radius: 20px;
    display: inline-flex;
    grid-template-columns: 1fr 1fr; /* Divide o espaço igualmente entre os dois ícones */
}

.box-center {
    display: block;
    background-color: rgb(219, 198, 176);
    border: 1px solid;
    border-radius: 20px;
    margin: 10px;
}


.box-cima {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px; /* Removi padding-top para uniformidade */
    font-size: 17px;
    font-weight: bold; /* Adicionei negrito para destacar os textos */
}

.patient-image {
    width: 250px; /* Faz a imagem ocupar toda a largura do container */
    height: auto; /* Mantém a proporção da imagem */
}


