
  .carousel-container {
    position: relative;
    max-width: 500px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
  }
  
  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel img {
    width: 100%;
    border-radius: 10px; 
  }
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(153, 3, 3);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
  }
  
  button:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  .flex-box{
    display: flex;
    justify-content: center;
    align-items: center;
  }