form {
    display: flex;
    padding-top: 10px;
    flex-wrap: wrap; /* Permite que os itens quebrem em várias linhas */
    font-size: 17px;
}

.half {
    width: 50%;
}

.observation {
    height: auto; /* Ajusta a altura automaticamente */
    font-size: 17px;
    margin-top: 20px; /* Ajuste a margem conforme necessário */
}

.observation-insert {
    width: 65%; /* Ajuste para o tamanho anterior */
    height: 80%; /* Mantém a altura anterior */
}

.label-default {
    display: block;
    padding-top: 8px;
}

textarea {
    padding: 5px 0 0 10px;
    background-color: rgb(230, 214, 198);
    font-size: 17px;
    resize: none;
    height: 800px; /* Ajuste para a altura que você preferir */
    margin-bottom: 3%; /* Distância pequena entre o textarea e o botão */
}

textarea:hover {
    background-color: rgb(224, 209, 192);
}

textarea:focus {
    background-color: rgb(224, 209, 192);
}

input {
    background-color: rgb(230, 214, 198);
}

input:hover {
    background-color: rgb(224, 209, 192);
}

input:focus {
    background-color: rgb(224, 209, 192);
}

.input-default {
    width: 50%; /* Mantém a largura anterior */
    height: 25px; /* Mantém a altura anterior */
}

.input-small {
    width: 30%; /* Mantém a largura anterior */
    height: 25px; /* Mantém a altura anterior */
}

.checkbox {
    border: 1px solid black;
    width: 25%; /* Mantém a largura anterior */
    padding-left: 10px;
    background-color: rgb(230, 214, 198);
}

.checkbox label:hover {
    background-color: rgb(224, 209, 192);
}

button {
    background-color: rgb(153, 3, 3);
    width: 200px;
    height: 50px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    font-size: 15px;
}

button:hover {
    background-color: rgb(104, 1, 1);
}

.button-default {
    width: 100%;
    padding-top: 10px; /* Reduz a distância acima do botão */
    margin-top: 5px; /* Ajuste a margem superior do botão para estar mais próximo do textarea */
    display: flex;
    justify-content: flex-start; /* Alinha o botão à esquerda */
}

footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 5%;
    padding-right: 10px;
}
